<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Task</title>
</head>

<body>
    {% extends 'base.html' %}

    {% block content %}

    <main class="container">
        <div class="row">
            <div class="col-md-6 m-auto mt-4 offset-md-4">   
                <form action="/tasks/create" method="post" class="card card-body">
                    <h1 class="text-center">Create Task</h1>

                    {{ error }}
                    {% csrf_token %}

                    {{ form }}

                    <br>

                    <button class="btn btn-success">
                        Save
                    </button>
                </form>
            </div>
        </div>
    </main>

    {% endblock %}
</body>

</html>