<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignIn</title>
</head>

<body>

    {% extends 'base.html' %}

    {% block content %}

    <main class="container">
        <div class="row">
            <div class="col-md-6 m-auto mt-4 offset-md-4">
                <form method="post" class="card card-body">

                    <h1 class="text-center">SignIn</h1>
                    {{ error }}
                    {% csrf_token %}

                    <div class="mb-3">
                        <label for="username">Username</label>
                        <input type="text" class="form-control" name="username" id="username"
                            placeholder="write your username">
                    </div>

                    <div class="mb-3">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" name="password" id="password"
                            placeholder="write your username">
                    </div>

                    <button class="btn btn-success">
                        SignIn
                    </button>

                </form>
            </div>
        </div>
    </main>

    {% endblock %}

</body>

</html>